{
  "bootstrap": false,
  "bootstrap_expect": 0,
  "datacenter": "dc1",
  "data_dir": "/var/lib/consul",
  "log_level": "INFO",
  "bind_addr": "0.0.0.0",
  "advertise_addr": "{{ ansible_ssh_host }}",
  "retry_join": ["192.168.56.103"]
}
