{
  "service": {
    "name": "example",
    "id": "nginx",
    "port": 80,
    "address": "{{ ansible_ssh_host }}",
    "tags": ["web", "http"],
    "meta": {
      "domains": "example.com",
      "environment": "production"
    },
    "check": {
      "id": "nginx-check",
      "name": "HTTP Check",
      "http": "http://{{ ansible_ssh_host }}",
      "interval": "10s",
      "timeout": "1s"
    }
  }
}
